.App {
  text-align: center;
  margin-bottom: 0.5em;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(255, 218, 176);
  height: 250px;
  padding: 20px;
  color: rgb(20, 20, 20);
}

.App-title {
  color:rgb(54, 54, 54);
  margin-bottom: -20px;
}

.App-intro {
  color:rgb(54, 54, 54)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
